<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
            <h2>All Cats are :</h2>
            <ul>
                <% for (let cat of cats){ %>
                    <li><%= cat%></li>
                    <% } %>  
            </ul>
<%- include('partials/footer') %>             